__pycache__/
scripts/plots/
benchmark/DeepReg/run_deepreg_human*
benchmark/DeepReg/train_model_version*
data/
results/
pdb_cov/
strucTFactor/deeptfactor/models_collection.py
strucTFactor/predictions*
strucTFactor/AI_isoform/
strucTFactor/lstm_classifier.py
strucTFactor/predictTFwithStrucTFactor_*
strucTFactor/explain_AI_iso*
strucTFactor/run_cross_valN*
strucTFactor/model.pt
strucTFactor/*.pdf
strucTFactor/pdfs
strucTFactor/tmp*
DeepLearning-_TF/
analyse_Exp*
data_pred*
find_tfs*
check_*
*.tsv
scripts/evaluation/compare*.py
scripts/evaluation/*.tsv
scripts/evaluation/*.pdf
scripts/evaluation/*.sh
scripts/evaluation/*.tex
scripts/evaluation/results_latex*
scripts/evaluation/wil.py
scripts/evaluation/plotFig4_all.py
scripts/evaluation/plot_dataset_specific_bar_deepstruct.py
scripts/evaluation/bioinf_tables*
test_data/
test*
benckmark/transfacpred/
webserver